<head>

    <link href="assets/ico/favicon.png" rel="shortcut icon">
    -->

    <title>Wattiau Anthony portfolio</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <script src="assets/js/respond.min.js"></script> <![endif]-->
</head>

<body data-offset="0" data-spy="scroll" data-target="#nav">

    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul class="nav" id="nav">
                            <li class="menu-item">
                                <a class="smoothScroll" href="#about" title="About">
                                    <i class="fa fa-odnoklassniki fa-1x"></i>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="smoothScroll" href="#resume" title="Resume">
                                    <i class="fa fa-file-archive-o fa-2x"></i>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="smoothScroll" href="#work" title="Works">
                                    <i class="fa fa-briefcase fa-1x"></i>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="smoothScroll" href="#contact" title="Contact">
                                    <i class="fa fa-envelope-o fa-1x"></i>
                                </a>
                            </li>
                        </ul>
                        <!--/ uL#nav -->
                    </div>
                    <!-- /.dropdown -->

                    <div class="clear"></div>
                </div>
                <!--/.row -->
            </div>
            <!--/.container -->

            <div class="clear"></div>
        </div>
        <!--/ #topbar-inner -->
    </div>
    <!--/ #section-topbar -->

    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Wattiau Anthony</h1>
                    <h3>Développeur web | wattiau-anthony@hotmail.fr</h3>
                </div>
                <!--/.col-lg-12 -->
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/.#headerwrap -->

    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>À PROPOS</h5>
                </div>
                <div class="col-lg-6">
                    <p>Je vous présente mon site avec mes projets et mon experience. Me concernant, je suis tomber sur le metier du dev par choix et par passion, je suis polyvalent, capable de surmonter tout les obstacles, je suis de nature déterminé. Conscient de
                        l'évolution d'internet et des normes, je me tiens sans arret sur l'actualité et les avancements technologiques. J'ai su acquerir une discipline d'auto formation, ainsi les nouvelles technologies de developpement ne seront jamais un obstacle à mon
                        apprentissage.</p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <a href="#">
                            <i class="icon-file"></i>
                        </a>
                        <!-- <sm>TÉLÉCHARGER CV</sm></p> -->
                    </div>

                </div>
                <!--/.row -->
            </div>
            <!--/.container -->
        </div>
        <!--/ #intro -->

        <section id="resume" name="resume"></section>
        <!--EDUCATION DESCRIPTION -->
        <div class="container desc">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>FORMATION</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        <t>Simplon Roubaix</t><br/>
                        Formation Développeur web, apprentissage de linux, git, Github, HTML5, CSS3, JavaScript, Ruby, Rails...<br/>
                        <br/>
                        <i>6 mois</i>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm>1 novembre 2015 - 30 avril 2016</sm><br/>
                        <imp>
                            <sm>IN PROGRESS</sm>
                        </imp>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        <t>Prairie Simplon</t><br/>
                        2 semaine intensive avant l'entrée en formation, découverte de linux, git et Github<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm>17 octobre 2015 - 31 octobre 2015</sm>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        <t>Apprentissage en autodidacte</t><br/>
                        HTML5, CSS3 et C++<br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm>2015</sm>
                    </p>
                </div>

            </div>
            <!--/.row -->
        </div>
        <!--/.container -->

        <!--WORK DESCRIPTION -->
        <!--SKILLS DESCRIPTION -->
        <div id="skillswrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1">
                        <h5>COMPÉTENCES</h5>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="javascript" width="130"></canvas>
                        <p>Javascript</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 50,
                                    color: "#1abc9c"
                                }, {
                                    value: 50,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="meteorjs" width="130"></canvas>
                        <p>Meteor js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 25,
                                    color: "#1abc9c"
                                }, {
                                    value: 75,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("meteorjs").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="expressjs" width="130"></canvas>
                        <p>Express js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 25,
                                    color: "#1abc9c"
                                }, {
                                    value: 75,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("expressjs").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>

                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas height="130" id="html" width="130"></canvas>
                        <p>HTML/CSS</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 80,
                                    color: "#1abc9c"
                                }, {
                                    value: 20,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="Ruby" width="130"></canvas>
                        <p>Ruby</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 35,
                                    color: "#1abc9c"
                                }, {
                                    value: 70,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("Ruby").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="rails" width="130"></canvas>
                        <p>Rails</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 40,
                                    color: "#1abc9c"
                                }, {
                                    value: 60,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("rails").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas height="130" id="nodejs" width="130"></canvas>
                        <p>Node js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 25,
                                    color: "#1abc9c"
                                }, {
                                    value: 75,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("nodejs").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="angularjs" width="130"></canvas>
                        <p>Angular js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 25,
                                    color: "#1abc9c"
                                }, {
                                    value: 75,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("angularjs").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas height="130" id="bootstrap" width="130"></canvas>
                        <p>Bootstrap</p>
                        <br>
                        <script>
                            var doughnutData = [
                                {
                                    value: 80,
                                    color: "#1abc9c"
                                }, {
                                    value: 20,
                                    color: "#ecf0f1"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>

                </div>
                <!--/.row -->
                <br>
            </div>
            <!--/.container -->
        </div>
        <!--/ #skillswrap -->

        <section id="work" name="work"></section>
        <!--PORTFOLIO DESCRIPTION -->
        <div class="container desc">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>PORTFOLIO</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        <a href="http://simplon-roubaix.github.io/Portfolio-VA/"><img alt="" class="img-responsive" src="portfolio.png"></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p class="title_desc">PORTFOLIO</p>
                    <p>
                        <more>Ce portfolio a était réalisez en binôme dans le cadre d'un objectif semestriel de la formation Simplon.<br/><br/>
                            <sm>Avec vincent delflandre</sm><br/>
                            <sm>
                                <i class="fa fa-html5 fa-2x"></i>
                                <i class="fa fa-css3 fa-2x"></i>
                                <i class="fa fa-jsfiddle fa-2x"></i>

                            </sm>
                        </more>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        <a href="http://wattiau.github.io/Cheat-sheet_emmet/"><img alt="" class="img-responsive" src="cheat-sheet_emmet.png"></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p class="title_desc">CHEAT SHEET EMMET</p>
                    <p>
                        <more>Ce cheat-sheet a était réalisez lors de la formation Simplon dans le cadre de l'apprentissage des languages HTML5 et CSS3.<br/><br/>
                            <sm>
                                <i class="fa fa-html5 fa-2x"></i>
                                <i class="fa fa-css3 fa-2x"></i>
                            </sm>
                        </more>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        <a href="http://wattiau.github.io/Cheat-sheet_html/"><img alt="" class="img-responsive" src="cheat-sheet_html.png"></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p class="title_desc">CHEAT SHEET HTML</p>
                    <p>
                        <more>Ce cheat-sheet a était réalisez lors de la formation Simplon dans le cadre de l'apprentissage des languages HTML5 et CSS3.<br/><br/>
                            <sm>
                                <i class="fa fa-html5 fa-2x"></i>
                                <i class="fa fa-css3 fa-2x"></i>
                            </sm>
                        </more>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        <a href="http://wattiau.github.io/Airbnb/"><img alt="" class="img-responsive" src="air_bnb.png"></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p class="title_desc">AIR BNB</p>
                    <p>
                        <more>Dans le cadre de la formation Simplon et de l'apprentissage de bootstrap nous devions essayer de reproduire le site web https://www.airbnb.fr/.<br/><br/>
                            <sm>
                                <i class="fa fa-html5 fa-2x"></i>
                                <i class="fa fa-css3 fa-2x"></i>
                            </sm>
                        </more>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        <a href="http://simplon-roubaix-anthony.herokuapp.com/users/Login"><img alt="" class="img-responsive" src="user_post.png"></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p class="title_desc">MINI FORUM</p>
                    <p>
                        <more>Dans le cadre de la formation Simplon et de l'apprentissage de Ruby on Rails j'ai réalisez une application avec utilisateur (gem devise), plusieurs posts par utilisateur et la possibilité d'ajouter une image a son profil (gem paperclip).<br/><br/>
                            <sm>
                                <i class="fa fa-tag"></i>Ruby on Rails
                            </sm>
                        </more>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><img alt="" class="img-responsive" src="superchat.png"></p>
                </div>
                <div class="col-lg-3">
                    <p class="title_desc">CHAT TEMP RÉEL</p>
                    <p>
                        <more>Dans le cadre de la formation Simplon et de la préparation a la recherche de stage, j'ai créer une application sous node js afin de découvrir d'autre environnement de développement et acquérir plus d'exprérience.<br/><br/>
                            <sm>
                                <sm>Déploiement de l'application prochainement.</sm><br/>
                                <i class="fa fa-tag"></i>Node js
                            </sm>
                        </more>
                    </p>
                </div>
            </div>
            <!--/.row -->
            <br>
            <br>
        </div>
        <!--/.container -->

        <section id="contact" name="contact"></section>
        <!--FOOTER DESCRIPTION -->
        <div id="footwrap">
            <div class="container">
                <div class="row">

                    <div class="col-lg-2 col-lg-offset-1">
                        <h5>CONTACT</h5>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <t>Email</t><br/>
                            wattiau-anthony@hotmail.fr
                            <br/>
                        </p>
                        <p>
                            <t>Adresse</t><br/>
                            Rue du molinel
                            <br/>
                            Code postal 59290
                            <br/>
                            Wasquehal.
                            <br/>
                        </p>
                        <p>
                            <t>Téléphone</t><br/>
                            06-67-41-54-87
                            <br/>
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p>
                            <sm>réseaux sociaux</sm>
                        </p>
                        <p>
                            <a href="https://twitter.com/WattiauAnthony">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=100006690828453">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!--/.container -->
        </div>
        <!--/ #footer -->
